
/*Import de google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*Import bootstrap icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*selector universal: elimina los margenes y rellenos, los reinicio a 0.*/
*{
    padding: 0;
    margin: 0;
}

/*Empiezo a llamar a los selectores*/

/*Empieza el header*/
header{
    display: flex;
    align-items: center;
   

}

header h1 /*mi nombre*/{
    color:rgb(238,239,240);
    flex-grow: 8;
    font-size: 20px;
    margin-left: -3px;
    
}
header h2{ /*CC*/
    color: rgb(201,59,75);
    flex-grow: 8;
    margin-left:150px;
    
}
button{
    font-size: 15px;
    background-color: inherit; /*Toma el color de fondo del
    elmento padre*/
    color:#fff;
    border:none;
    margin-left: 5px;
    padding: 10px 20px;
    cursor:pointer /*Al pasar el mouse por el boton aparece
    la manito*/
    

}

.inicio{
    color: rgb(201,59,75);
    flex-grow: 8;

}    
/*Termina el header*/

body{
    background-color:rgb(4,11,21); 
    color:#fff;
    font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    
}

.hero{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.contenedor-contenido-imagen{
    display: flex;
    align-items: center;
}

.hero-content{
    width: 50%;

}

.fotopersonal img{
    width: 421px; /*ancho de la imagen*/
    height: 409px; /*alto de la imagen*/
    margin-left: 170px; /*Espacio entre la imagen y el contenido*/
    padding: 40px;
}

.hero h2{ /*Hola, soy...*/
    color:white;
    padding-top: 5px;
    margin-bottom: 35px;
    margin-left: 20px;
    font-size: 25px;
    text-align: left;
}

.hero i{
    color:rgb(186,139,36);
}
.profesion h2{ /*diseñador web*/
    color:white;
    margin-left: -20px;
    margin-bottom:10px;
    font-size: 40px;
    margin-top: 0px;
    text-align:center;
    
}

.nombre h1{ /*CHRISTIAN CHAMIZO*/
    color: rgb(198,1,44);
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
    

}
.parrafo-hero p{
 color: rgb(135,137,139);
 margin-left: 160px; /*Alinea el margen izquierdo con el resto del contenido*/
 margin-bottom: 20px; /*Ajusta el margen inferior para el espacio adecuado*/
 font-size: 20px; /*Tamaño de fuente mas chico*/
 margin-top: -200px; /*Ajusta el margen superior para la posicion correcta*/
 text-align:left;
}

.iconos-redes{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: -550px;
    gap:15px;
}

.iconos-redes i{
    color: white;
    margin:0 10px;
    font-size: 24px;
    
}
.redes-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 20px;
}
.contenedor-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /*Espacio entre los botones*/
    margin: 20px 0; /*Espacio vertical alrededor de los botones*/
}
.boton-contactame button,
.boton-porfolio button { /*Estilo los dos botones del hero (porfolio y contactame)*/
    padding: -15px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #0b0d17;
    color: rgb(182,185,187);
    
}
.boton-contactame button:hover,
.boton-porfolio button:hover { /*Le doy estilo al hover de los dos botones del hero*/
    background-color: #333;
}

/*Se estila la segunda seccion*/

.contenedor-hijo-directo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap:wrap;
}

.contenedor-texto-imagen {
    flex: 1;
}

.contenedor-texto {
    margin-bottom: 20px;
    
}

.contenedor-listas {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.contenedor-imagen {
    flex: 0 0 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-imagen img {
    width: 421px; /*ancho de la imagen*/
    height: 409px;/*alto de la imagen*/
    border-radius: 5px;
    position: relative;
    left: -55px;
  

}
.fondo-rosa{
    background-color: rgb(211,0,45);
    padding: 40px;
}
.fondo-rosa img{
    width: 200px;
    height: 200px;
   
    
}
/* Estilos para la sección "Sobre mí" */
.sobre-mi {
    padding: 20px;
    background-color: rgb(16,19,36);
    
}

.sobre-mi h2 {
    padding: 20px;
    color: white;
    margin-bottom: 35px;
    text-align: center;
    font-size: 25px;
    text-decoration-line: underline;
    text-decoration-color: rgb(114, 9, 40);
    text-decoration-thickness: 3px;
    
}

.contenedor-hijo-directo h3 {
    color: white;
    margin-bottom: 35px;
    font-size: 30px;
    margin-left: 95px;
}

 .highlight {
    color: #900824;
    padding: 2px 4px;
    border-radius: 5px;
   
}

.contenedor-hijo-directo p {
    color: rgb(172, 173, 178);
    margin-left: 90px;
    text-indent: 10px;
    text-align: left;
    color:rgb(159,161,167);
    margin-top: -15px;
}
.contenedor-texto-imagen hr{
    border:none;
    border-top: 3.5px solid #900824;
    margin-left: 20px;
    width: 30%;
}


.contenedor-listas ul { /*le doy estilo a las listas*/
    list-style-type: none;
    padding: 10px;
   
    
}

.contenedor-listas ul li { /*le doy estilos a los elementos de la lista*/
    margin-bottom: -5px;
    margin-top: 15px;
    margin-left: 80px;
    font-weight: bold;
    color:wheat;
}  


.servicios h2{/*Servicios*/
    padding-bottom: 5px;
    color:rgb(233,233,233);
    margin-left: 40px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 25px;
    text-decoration-line: underline;
    text-decoration-color: rgb(114,9,40);
    
    /*Falta terminar*/

}
.servicios{
    background-color: rgb(20,27,37);
    text-align: center;
    padding: 3px;
    font-size: 25px;
}

.tipo-de-servicios{
    color:white;
    margin-bottom: 35px;
    font-size:20px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(20,27,37);
    border-radius: 10px;
}

.tipo-de-servicios section{
    flex: 1;
    width: 200px;
    padding: 20px;
}
.tipo-de-servicios section h2{ /*Titulos de los servicios*/
    margin-top: 10px;
    margin-left: 60px;
    font-size: 20px;
}

.tipo-de-servicios section p{ /*Parrafos de los tipos de servicios*/
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 10px;
    font-size: 20px;
  

}
.tipo-de-servicios i{ /*Iconos de los tipos de servicios*/
    color: white;
    margin-left: 60px;
    margin-top: 10px;
 
}

.titulo-resumen h1{
    color:rgb(205,207,208);
    font-size: 25px;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 40px;
    text-decoration-line: underline;
    text-decoration-color: rgb(114,9,40);
    text-decoration-thickness: 3px; 
        
}


.resumen{ /*Clase padre*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
   
}

.resumen section h2{
    flex: 1; /*para que todas las secciones tengan el mismo ancho*/
    margin-top: 10px;
    color:white;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(20,27,37);
}
.añocursada{
    text-align: center;
    margin-left: -500px;
}
.añocursada h2{
    color:white;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
    width: 50px;
    position: relative; /*establece la posicion relativa para
    poder posicionar los elementos*/
}

.estudios-carrera{
    background-color: rgb(20,27,37);
    padding: 15px;
    border: 1px solid rgb(4,11,20);
    border-radius: 5px;
    padding-left: 5px;
    font-size: 15px;
    margin-bottom: 25px;
   
}

.estudios-carrera p{
    font-weight: bold;
    color:white;
    font-size:15px;
    margin:5px ;
    padding: 10px;
   
}
.contenedor-principal { /*Clase padre*/
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: -390px;
    width: 40%;
    padding: 20px;
    background-color: rgb(20,27,36);
    color: white;
    border-radius: 5px;
}

.habilidades-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /*Espacio entre el texto y las habilidades*/
}

.habilidades-container section{
    width: 100%; /*Ajusto el ancho de las habilidades*/
}
   
.skills {
    width: 80%;
    margin: 0 auto;
}

.habilidades {
    margin-top: 10px;
    
}

.barra-habilidad {
    margin: 20px 0;
}

.barra {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 20px;
    overflow: hidden;
}

.progreso {
    height: 20px;
    background-color:rgb(210,0,44);
    border-radius: 20px;
    text-align: right;
    padding-right: 10px;
    color: white;
    line-height: 20px; /* Aligns text in the center vertically */
}

   
.tecnologias { /*Clase padre*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20,27,37);
    color:white;
    border-radius: 5px;
    font-size: 10px;
    margin-top: 20px;
    text-align: left;
    width: 40%;
    margin-left: -400px;
   
}


.titulo-porfolio h1{
    color:rgb(205,207,208);
    font-size: 25px;
    margin-bottom: 15px;
     margin-left: 40px;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 15px;
    text-decoration-line: underline;
    text-decoration-color: rgb(114,9,40);
    text-decoration-thickness: 3px;

}
.Contenedor-general-porfolio{ /*Clase padre*/
    display: flex;
    flex-direction: row;
    text-align: center;
}

.screenshot-porfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.screenshot-porfolio div{
    margin-top: 40px;
    text-align: start;
    
}
.screenshot-porfolio img{
    margin-bottom: 30px;
    padding-left: 40px;
    text-align: left;
    padding-bottom: 20px;
    margin-left: 40px;
    margin: 0 10px;
    width: 1200px;
    height: 400px;
}
.link-porfolio a,p{ /*le doy estilos al  link del porfolio*/
    color:white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 25px;
    font-size: 15px;
}
.link-porfolio a:hover{ 
    color:black;
}

.Titulo-form h1{
    color:rgb(205,207,208);
    font-size: 25px;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 40px;
    text-decoration-line: underline;
    text-decoration-color: rgb(114,9,40);
    text-decoration-thickness: 3px;
}
.datos-contacto{ /*section*/
    display: flex;
    justify-content: space-between;
    width: 80px;
    max-width: 120px;
}
.info-contacto ul{ /*Le doy estilo a la lista*/
    list-style: none;
    padding: 0;
    margin-left: 200px;
    
}
.info-contacto li{ /*Le doy estilo a los elementos de la lista*/
    color:#6d7278;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin: 20px;
    font-weight: bold;
    
}
.info-contacto ul,li{
    color:grey;
    font-size: 25px;
    
}
.mapa-contacto iframe{
   padding-top:20px;
   margin-left: 200px;

}

/*Formulario*/
.formulario{ /*clase padre*/
    display: flex;
    flex-direction: column;
    width: 850px;
    margin:0;
     padding: 20px;
    margin-left: 150px;
    border-radius: 5px;
    color:rgb(20,27,36);
    align-items:  center;
    justify-content: center;
}

.div .formulario-nombre-apellido{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px 20px; 
    font-size: 20px;
    color:#fff;
    border-radius: 5px;
    
}
.formulario-asunto input{
    width: 88%;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(20,27,36);
}

input[type=text],textarea{ 
    background-color:#141b24;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 50px;
    color: #fff;
    font-size: 16px;
}

textarea {
    height: 150px;
    width: 500px;
    margin-top: -20px;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #007bff;
}

.formulario button {
    color: #1a1a2e;
    border: none;
    background-color: #fff;
    padding: 15px 178px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

button .arrow {
    margin-left: 10px;
   
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todos los elementos horizontalmente */
    background-color: #0b0d17;
    color: white;
    padding: 20px 0;
}

.footer-iniciales-nombre {
    display: flex;
    flex-direction: row; /* Coloca las iniciales y el nombre en una fila */
    align-items: center; /* Centra verticalmente */
    gap: 10px; /* Espacio entre las iniciales y el nombre */
}

.footer-iniciales-nombre h1 { /* Nombre */
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.footer-iniciales-nombre h2 { /* Iniciales */
    color: rgb(201, 59, 75);
    font-size: 48px;
    margin: 0;
    padding: 0;
}

.footer-iconos {
    margin-top: 20px; /* Espacio entre el nombre y los iconos */
}

.iconos-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.iconos-footer i {
    color: white;
    margin: 0 15px;
    font-size: 24px;
}

.iconos-footer a { /* Link de redireccionamiento */
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.iconos-footer a:hover {
    cursor: pointer;
    color: rgb(201, 59, 75); /* Cambio de color en hover para mejor visualización */
}

.copyright {
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px; /* Espacio entre los iconos y el copyright */
    text-align: center;
}

.copyright i {
    font-size: 14px;
    font-weight: normal;
}
